*{

    margin: 0px;
    padding: 0px;
    bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

main{

    max-width: 800px;
    margin: auto;

}

body{

    height: 100%;
    width: 100%;

}

header{

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    background-color: rgba(255, 153, 0, 0.596);
    height: 50px;
    top: 0px;
    backdrop-filter: blur(5px);
    z-index: 3;
    width: 100%;
    color: white;

}

.putin a:hover{

    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;

}

.putin{

    display: block;
    
    a{

        color: white;

    }


}

@media screen and (max-width: 430px) {

    .putin{

        display: none;

    }

    #INI img{

        width: 100%;

    }

}

.putin a{

    margin: 5px;
    text-decoration: none;
    padding: 10px;

}

section{

    margin-top: 10px;

}


#INI{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3{

        color: orangered;
        margin: 20px;

    }

    img{

        max-width: 400px;
        max-height: 400px;
        border-radius: 50%;

    }

}


#GAL{

    padding-top: 8rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

#GAL .imagen{

    flex-grow: 1;
    flex-basis: 300px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border-radious: 20px;

}



#GAL .imagen img{

    width: 100%;
    height: 400px;

}



#CON{

    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;

    button{

        height: 30px;
        margin-bottom: 80px;
        border-radius: 10px;
        border: 0px solid;
        border: 1px solid orange;
        background-color: orange;
        color: white;
        transition: .5s;

    }
    
}

#CON button:hover{

    background-color: white;
    color: black;

}

#CON h1{
    
    color: orangered;
    
}

#CON h3{
    
    margin-top: 10px;
    margin-bottom: 5px;
    
}

#CON input{
    
    height: 1.5rem;
    margin-bottom: 10px;
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 0.5rem;

}

#CON textarea{
    
    resize: none;
    height: 200px;
    margin-bottom: 10px;
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 0.5rem;

}

.imagen::before{

    z-index: 1;
    content: attr(data-content);
    font-size: 2rem;
    position: absolute;
    text-align: center;
    bottom: 32px;
    color: white;
    width: 100%;
    opacity: 0;
    transition: opacity 1s;

}

.imagen:hover::before{

    opacity: 1;

}

.imagen img:hover{

    filter: blur(20px);

} 
